body {
    margin: 0px;
    padding: 0px;
    background: repeating-linear-gradient(#405DE6, #5851DB,#833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

/* HOME START */

.s {
    font-size: 28px;
    color: #E795B3;
    font-style: cursive;
}
.t {
    font-style: cursive;
    color: cyan;
}
.u {
    font-style: cursive;
    color: orange;
}
.d {
    font-style: cursive;
    color:;
}
.y {
    font-style: cursive;
    color: yellow;
}
.o {
    font-style: sans-serif;
    color: white;
}
.e {
    font-style: fantasy;
    color: cyan;
    font-size: 26px;
}
.x {
    font-style: sans-serif;
    color: #eee;
}
.a {
    font-style: sans-serif;
    color: #B0C4DE;
}
.m {
    font-style: sans-serif;
    color:;
}
#website-name {
    color: #7FFF9B;
    font-familly: none;
    font-size: 22px;
    margin: auto;
}

.container-fluid {
    background: black;

}

.container-fluid .fas {
    font-size: 25px;
}
.container-fluid {
    margin-top: -19px;
}
#home {
    position: sticky;
    top: 10px;
}


.navbar-toggler {
    background: silver;
    font-size: 13px;
    margin-top: 3;
}

.navbar {
    height: 20px;
}
/*
.navbar-nav {
    background: black;
}*/
.hhh {
    color: white;
    background: green;
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
}
.fas {
    color: silver;
}
.fa-home {
    margin-top: 6px;
}
.dropdown-menu {
    background: green;
}
.fa-arrow-alt-circle-up {
    margin-top: 110px;
    margin-left: 330px;
    font-size: 26px;
}

div.scrollmenutk {
    background-color: black;
    overflow: auto;
    white-space: nowrap;
    height: 23px;
    box-shadow: 0 5px 8px #333;
}

div.scrollmenutk a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 8px;
    text-decoration: none;
    border-right: 1px solid #d4d4d4;
    font-size: 14px;
    line-height: 20px
}

div.scrollmenutk {
    margin-top: 16px;
}
.scrollmenutk a:hover {
    color: teal;
}


.dropdown-menu {
    background: black;
}

.ban-44 {
    margin-top: 5px;
    color: white;
}
.biology {
    background: black;
    color: white;
}
.biology {
    margin: 5px;
    padding: 10px;
}
.container {
    background:;
    height: 100%;
}
.biology {
    font-size: 40px;
}

.part {
    margin: 25px;
    padding: 8px;
    border-radius: 30px;
    border: 5px solid gray;
}

.part {
    font-size: 30px;
}
.part {
    background: #827;
    color: white;
}

.part-1 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-1 {
    font-size: 30px;

}
.part-1 {
    background: green;
}
.part-1 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-2 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-2 {
    font-size: 30px;
}
.part-2 {
    background: green;
}
.part-2 {
    width: 300px;
    height: 60px;
    margin: auto;
}
.ban-48 {
    color: white;
}
.part-3 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-3 {
    font-size: 30px;
}
.part-3 {
    background: green;
}
.part-3 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-4 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-4 {
    font-size: 30px;
}
.part-4 {
    background: green;
}
.part-4 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-5 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-5 {
    font-size: 30px;
}
.part-5 {
    background: green;
}
.part-5 {
    width: 300px;
    height: 60px;
    margin: auto;
}


.part-6 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-6 {
    font-size: 30px;
}
.part-6 {
    background: green;
}
.part-6 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-7 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-7 {
    font-size: 30px;
}
.part-7 {
    background: green;
}
.part-7 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-8 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px
}
.part-8 {
    font-size: 30px;
}
.part-8 {
    background: green;
}
.part-8 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-9 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-9 {
    font-size: 35px;
}
.part-9 {
    background: green;
}
.part-9 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-10 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-10 {
    font-size: 25px;
}
.part-10 {
    background: green;
}
.part-10 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-11 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-11 {
    font-size: 25px;
}
.part-11 {
    background: green;
}
.part-11 {
    width: 300px;
    height: 60px;
    margin: auto;
}

.part-12 {
    margin: 5px;
    padding: 0px;
    border-radius: 20px;
}
.part-12 {
    font-size: 23px;
}
.part-12 {
    background: green;
}
.part-12 {
    width: 250px;
    height: 50px;
    margin: auto;
}
.part-12 {
    width: 300px;
    height: 60px;
    margin: auto;
}



.part-13 {
    font-size: 23px;
}
.part-13 {
    background: green;
}
.part-13 {
    width: 250px;
    height: 50px;
    margin: auto;
}
.part-13 {
    width: 300px;
    height: 60px;
    margin: auto;
}
.part-13 {
    border-radius: 20px;
}


.part-14 {
    font-size: 23px;
}
.part-14 {
    background: green;
}
.part-14 {
    width: 250px;
    height: 50px;
    margin: auto;
}
.part-14 {
    width: 300px;
    height: 60px;
    margin: auto;
}
.part-14 {
    border-radius: 20px;
}


.container {}

.container ul li a:hover {
    background: teal;
    color: white;
    border-radius: 20px;
    width: 300px;
    height: 60px;
    transition: all 0.5s;
}

/* FOOTER START */

.menu {
    margin-top: 1000px;
}
.last_menu {}
.last_menu {
    background: white;
    height: 210px;
    border-top: 3px solid #826;
}
.last_menu a {
    text-decoration: none;
}

.fa-facebook {
    position: absolute;
    margin-left: -70px;
    margin-top: 80px;
    font-size: 20px;
    color: #4267B2;
}
.fa-youtube {
    position: absolute;
    margin-left: -30px;
    margin-top: 80px;
    font-size: 20px;
    color: red;
}
.fa-google {
    position: absolute;
    margin-left: 10px;
    margin-top: 80px;
    font-size: 20px;
    color: blue;
}
.fa-instagram {
    position: absolute;
    margin-left: 50px;
    margin-top: 80px;
    font-size: 20px;
    color: white;

}
.fa-instagram {
    background: linear-gradient(#405DE6, #5851DB,#833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    border-radius: 5px;
    width: 18px;

    max-height: 25px;


}
.fa-envelope-open-text {
    position: absolute;
    margin-left: 20px;
    color: #333;
    margin-top: 48px;
    font-size: 12px;
}

.Contact {
    position: absolute;
    margin-top: 18px;
    left: 17px;
    font-size: 15px;
    color: black;
}
.gmail {
    position: absolute;
    margin-top: 45px;
    margin-left: 40px;
    font-size: 12px;
    color: black;
}
.copy {
    text-align: center;
    color: silver;
    margin-top: 130px;
    display: block;
    font-size: 8px;
}
/* FOOTER END */


.DPadding0 {
    padding: 0
}

.DMargin0 {
    margin: 0
}

.DScroll {
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #2f99bf;
    background: -moz-linear-gradient(top,rgba(47,153,191,1) 0%,rgba(153,229,255,1) 100%);
    background: -webkit-linear-gradient(top,rgba(47,153,191,1) 0%,rgba(153,229,255,1) 100%);
    background: linear-gradient(to bottom,rgba(47,153,191,1) 0%,rgba(153,229,255,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2f99bf',endColorstr='#99e5ff',GradientType=0 );
    color: #000;
    font-size: 18px
}

.DScroll .col-sm-12 a span {
    padding-right: 30px;
    display: inline-block;
    margin-top: 0px;
    font-size: 16px
}

.DScroll .col-sm-12 img {
    width: 23px;
    float: left;
    padding-right: 8px;
    margin-top: 0px
}

.notictk {
    color: black;
}
#tlk {
    margin-top: 1.5px;

}